@font-face{
    
    font-family: 'Franklin Gothic Medium';
    src: url('../static/font/franclingothicmedia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fes-body {
    font-family: 'Franklin Gothic Medium';
    background-image: url(../static/image/background.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: rgb(14, 20, 27);
}

.fes-spacing {
    margin: 5% 5%;
}

.fes-nav {
    -webkit-padding-start: 0;
    color: rgb(177, 187, 203);
    font-size: 17px;
    font-weight: 400;
    line-height: 20.4px;
}

.fes-nav-el {
    margin: 0px 4px;
    list-style-type: none;
    display: inline-block;
}

.fes-content {
    margin: 0 8%;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

.fes-content p {
    width: 470px;
}
.fes-content-header {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}

.fes-content-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
}

.fes-footer {
    color: rgb(177, 187, 203);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 5% 5%;
}